
@{
    ViewBag.Title = "AdminPage";
    Layout = "~/Views/Shared/_AminPanelLayout.cshtml";
}

@if (Session["UserID"] != null)
{

    <h3>@Session["UserType"].ToString()</h3>

    <h4> Hello @Session["Username"].ToString() </h4><br />

}