
@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/_Layoutdefault.cshtml";
}

<div class="gallery">
    <div class="container">
        <h2 class="tittle">Gallery</h2>
        <div class="gal-btm">
            <div class="col-md-4 gal-gd wow fadeInLeft animated" data-wow-delay=".5s">
                <a href="#image-1">
                    <div class="nd-wrap nd-style-8">
                         <img src="/Scripts/Frontend/images/ga.jpg" class="img-responsive" alt=" " />
                        <div class="nd-content">
                            <div class="nd-content_inner">
                                <div class="nd-content_inner1">
                                    <h4 class="nd-title">Gallery</h4>
                                    <span class="nd-icon">
                                        <i class="glyphicon glyphicon-link"></i>
                                    </span>
                                    <span class="nd-icon">
                                        <i class="glyphicon glyphicon-search"></i>
                                    </span>

                                </div>
                            </div>
                        </div>
                    </div>
                </a>


            </div>
            <div class="col-md-4 gal-gd wow fadeInUp animated" data-wow-delay=".5s">
                <a href="#image-2">
                    <div class="nd-wrap nd-style-8">
                        <img src="/Scripts/Frontend/images/ga1.jpg" class="img-responsive" alt=" " />
                        <div class="nd-content">
                            <div class="nd-content_inner">
                                <div class="nd-content_inner1">
                                    <h4 class="nd-title">Gallery</h4>
                                    <span class="nd-icon">
                                        <i class="glyphicon glyphicon-link"></i>
                                    </span>
                                    <span class="nd-icon">
                                        <i class="glyphicon glyphicon-search"></i>
                                    </span>

                                </div>
                            </div>
                        </div>
                    </div>
                </a>


            </div>
            <div class="col-md-4 gal-gd wow fadeInRight animated" data-wow-delay=".5s">
                <a href="#image-3">
                    <div class="nd-wrap nd-style-8">
                        <img src="/Scripts/Frontend/images/ga4.jpg" class="img-responsive" alt=" " />
                        <div class="nd-content">
                            <div class="nd-content_inner">
                                <div class="nd-content_inner1">
                                    <h4 class="nd-title">Gallery</h4>
                                    <span class="nd-icon">
                                        <i class="glyphicon glyphicon-link"></i>
                                    </span>
                                    <span class="nd-icon">
                                        <i class="glyphicon glyphicon-search"></i>
                                    </span>

                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 gal-gd-sec wow fadeInLeft animated" data-wow-delay=".5s">
                <a href="#image-4">
                    <div class="nd-wrap nd-style-8">
                        <img src="/Scripts/Frontend/images/ga2.jpg" class="img-responsive" alt=" " />
                        <div class="nd-content">
                            <div class="nd-content_inner">
                                <div class="nd-content_inner1">
                                    <h4 class="nd-title">Gallery</h4>
                                    <span class="nd-icon">
                                        <i class="glyphicon glyphicon-link"></i>
                                    </span>
                                    <span class="nd-icon">
                                        <i class="glyphicon glyphicon-search"></i>
                                    </span>

                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 gal-gd-sec wow fadeInRight animated" data-wow-delay=".5s">
                <a href="#image-5">
                    <div class="nd-wrap nd-style-8">
                        <img src="/Scripts/Frontend/images/ga3.jpg" class="img-responsive" alt=" " />
                        <div class="nd-content">
                            <div class="nd-content_inner">
                                <div class="nd-content_inner1">
                                    <h4 class="nd-title">Gallery</h4>
                                    <span class="nd-icon">
                                        <i class="glyphicon glyphicon-link"></i>
                                    </span>
                                    <span class="nd-icon">
                                        <i class="glyphicon glyphicon-search"></i>
                                    </span>

                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 gal-gd wow fadeInLeft animated" data-wow-delay=".5s">
                <a href="#image-6">
                    <div class="nd-wrap nd-style-8">
                        <img src="/Scripts/Frontend/images/ga5.jpg" class="img-responsive" alt=" " />
                        <div class="nd-content">
                            <div class="nd-content_inner">
                                <div class="nd-content_inner1">
                                    <h4 class="nd-title">Gallery</h4>
                                    <span class="nd-icon">
                                        <i class="glyphicon glyphicon-link"></i>
                                    </span>
                                    <span class="nd-icon">
                                        <i class="glyphicon glyphicon-search"></i>
                                    </span>

                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 gal-gd wow fadeInDown animated" data-wow-delay=".5s">
                <a href="#image-7">
                    <div class="nd-wrap nd-style-8">
                        <img src="/Scripts/Frontend/images/ga6.jpg" class="img-responsive" alt=" " />
                        <div class="nd-content">
                            <div class="nd-content_inner">
                                <div class="nd-content_inner1">
                                    <h4 class="nd-title">Gallery</h4>
                                    <span class="nd-icon">
                                        <i class="glyphicon glyphicon-link"></i>
                                    </span>
                                    <span class="nd-icon">
                                        <i class="glyphicon glyphicon-search"></i>
                                    </span>

                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 gal-gd wow fadeInRight animated" data-wow-delay=".5s">
                <a href="#image-8">
                    <div class="nd-wrap nd-style-8">
                        <img src="/Scripts/Frontend/images/ga7.jpg" class="img-responsive" alt=" " />
                        <div class="nd-content">
                            <div class="nd-content_inner">
                                <div class="nd-content_inner1">
                                    <h4 class="nd-title">Gallery</h4>
                                    <span class="nd-icon">
                                        <i class="glyphicon glyphicon-link"></i>
                                    </span>
                                    <span class="nd-icon">
                                        <i class="glyphicon glyphicon-search"></i>
                                    </span>

                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

