
@{
    ViewBag.Title = "RoomsDetails";
    Layout = "~/Views/Shared/_Layoutdefault.cshtml";
}

<div class="content">
    <!---Rooms--->
    <div class="welcome">
        <div class="container" >
            <h2 class="tittle" ><a id="btnLoad" style="cursor: pointer;" class="well">Special Rooms Only For You</a></h2>
                 <div class="wel-grids" >
                     <div class="wel-grids">
                         <div class="col-md-12 wel-grid" id="type">
                            
                          
                         <div class="clearfix"></div>
                     </div>

                </div>

               
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!---Rooms--->
    <div class="reservation">
        <div class="container">
            <h3 class="tittle">Make reservation</h3>
            <div class="reservation-grids">
                <div class="col-md-4 reser-grid">
                    <h5>Check in</h5>
                    <div class="book_date">
                        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                        <input type="date" value="Select date" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Select date';}">
                    </div>
                </div>
                <div class="col-md-4 reser-grid">
                    <div class="best-hot">
                        <input type="submit" value="Search">
                    </div>

                </div>
                
                <div class="clearfix"></div>
            </div>
            <div class="reservation-grids">
               
                <div class="col-md-4 reser-grid">
                    

                </div>
                <div class="col-md-4 reser-grid">
                   


                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="rooms-rates">
        <div class="container">
            <h3 class="tittle">Rooms & Rates</h3>
            <div class="rates-grids">
                <div class="rates-grid">
                    <img src="/Scripts/Frontend/images/s.jpg" class="img-responsive gray" alt="" />
                </div>
                <div class="rates-text">
                    <h4>Luxury Room</h4>
                    <p>Located in the heart of Aspen with a unique blend of contemporary luxury and historic heritage, deluxe accommodations, superb amenities, genuine hospitality and dedicated service. Located in the heart of </p>
                    <h5>$260.00 <span class="small">/ Night</span></h5>
                </div>
            </div>
            <div class="rates-grids rate1">
                <div class="rates-grid1">
                    <img src="/Scripts/Frontend/images/ga2.jpg" class="img-responsive gray" alt="" />
                </div>
                <div class="rates-text1">
                    <h4>Single Room</h4>
                    <p>Located in the heart of Aspen with a unique blend of contemporary luxury and historic heritage, deluxe accommodations, superb amenities, genuine hospitality and dedicated service. Located in the heart of </p>
                    <h5>$260.00 <span class="small">/ Night</span></h5>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="rates-grids">
                <div class="rates-grid">
                    <img src="/Scripts/Frontend/images/ga7.jpg" class="img-responsive gray" alt="" />
                </div>
                <div class="rates-text">
                    <h4>Standard Room</h4>
                    <p>Located in the heart of Aspen with a unique blend of contemporary luxury and historic heritage, deluxe accommodations, superb amenities, genuine hospitality and dedicated service. Located in the heart of </p>
                    <h5>$260.00 <span class="small">/ Night</span></h5>
                </div>
            </div>
            <div class="rates-grids rate1">
                <div class="rates-grid1">
                    <img src="/Scripts/Frontend/images/ga5.jpg" class="img-responsive gray" alt="" />
                </div>
                <div class="rates-text1">
                    <h4>Couple Room</h4>
                    <p>Located in the heart of Aspen with a unique blend of contemporary luxury and historic heritage, deluxe accommodations, superb amenities, genuine hospitality and dedicated service. Located in the heart of </p>
                    <h5>$260.00 <span class="small">/ Night</span></h5>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>


